/* App.css */

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensure the page takes up the full viewport height */
}

.App {
  text-align: center;
  max-width: 1080px; /* Limit the content width to 1080px */
  width: 100%;
  padding: 20px; /* Add some spacing around the content */
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

/* Header Styles */
h1 {
  color: #333;
  margin: 20px 0;
}

/* Movie List Styles */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-list a {
  text-decoration: none;
  color: #333;
  margin: 20px;
  display: block;
  width: 250px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.movie-list a:hover {
  transform: scale(1.05);
}

.movie-list img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.movie-list h2 {
  padding: 10px;
  font-size: 18px;
  margin: 0;
}

/* Movie Detail Styles */
.movie-detail {
  text-align: center;
  padding: 20px;
}

.movie-detail h2 {
  color: #333;
  margin: 0 0 10px;
}

.movie-detail p {
  color: #666;
}

.movie-detail a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.movie-detail a:hover {
  background-color: #0056b3;
}

/* Media Query for Mobile */
@media screen and (max-width: 1080px) {
  .movie-list a {
    width: 100%;
    margin: 10px 0;
  }
}
.qr-code {
  margin-top: 20px; /* Adjust the margin as needed */
  text-align: center; /* Center the QR code */
}

.qr-code canvas {
  /* Add styles to the QR code canvas */
  border: 2px solid #333; /* Example border styling */
  padding: 5px; /* Example padding */
  background-color: #fff; /* Example background color */
}